{% extends "base.html" %}
{% load static %}

{% block title %} Hamza SAHSAH {% endblock %}



{% block content %}
    <main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Hello , Hamza SAHSAH.</h1>
            <p class="lead text-muted">I am an accomplished engineer, proud graduate of the prestigious Mohammed 6 International Academy of Civil Aviation, where I specialized in computer engineering. Beyond my formal education, I am a dedicated self-learner, continually honing my skills in web development and Dapp development. Furthermore, I am embarking on an exciting journey as a budding video game developer, eager to explore the endless possibilities of this dynamic field.</p>

            <h3>Communication</h3>
            <div class="row mb-5 mt-3">
                <div class="col-md-12">
                   <a href="https://github.com/hamzaxsahsah"  target="_blank"><i class="fa fa-github zoom" style="font-size: 36px"></i></a>
                   <a href="https://www.linkedin.com/in/hamza-sahsah-254b241b9/" target="_blank" ><i class="fa fa-linkedin ml-2 zoom" style="font-size: 36px"></i></a>
                   <a href="https://instagram.com/sahsah.hamza"  target="_blank"><i class="fa fa-instagram ml-2 zoom" style="font-size: 36px"></i></a>
                </div>

            </div>
            <img src="{% static 'img/me.jpg' %}" alt="" width="200" height="300">
        </div>
    </section>


    {% if uyari  %}

        <h1 class="text-center mb-5 mt-5">{{ uyari }}</h1>
    {% else %}
        <h1 class="text-center">jobs </h1>
            <div class="album py-5">
        <div class="container">
            <div class="row">
                {% for job in jobs %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ job.image.url }}" class="card-img-top" width="100%" height="225">
                        <div class="card-body">
                            <p class="card-text">{{ job.summary }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endif %}


</main>

{% endblock %}
